<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>swiper demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body class="viewInicio">
  
  <div class="swiper swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href='@Url.Action("pantallaLibro", new{L = ViewBag.carousel1.IdLibro})'><img class="portadaLibro" src=@ViewBag.carousel1.Tapa alt=""></a>
        <a><h3>@ViewBag.carousel1.Nombre</h3></a>
        <p>@ViewBag.carousel1.Sinopsis</p>
        <div class="barraSeparadoraAutor"></div>
        <div class="datosAutor">
        <div><img class="imgAutorTop" src=@ViewBag.carousel1.FotoEscritor alt=""></div>
        <h4>@ViewBag.carousel1.NombreEscritor</h4>
        <div class="infoAutorInicio">
          <p>@ViewBag.carousel1.BioEscritor</p>
        </div>
        </div>
      </div>

      <div class="swiper-slide">
        <a href='@Url.Action("pantallaLibro", new{L = ViewBag.carousel2.IdLibro})'><img class="portadaLibro" src=@ViewBag.carousel2.Tapa alt=""></a>
        <h3>@ViewBag.carousel2.Nombre</h3>
        <p>@ViewBag.carousel2.Sinopsis</p>
        <div class="barraSeparadoraAutor"></div>
        <div class="datosAutor">
        <div><img class="imgAutorTop" src=@ViewBag.carousel2.FotoEscritor alt=""></div>
        <h4>@ViewBag.carousel2.NombreEscritor</h4>
        <div class="infoAutorInicio">
          <p>@ViewBag.carousel2.BioEscritor</p>
        </div>
        </div>
      </div>

      <div class="swiper-slide">
          <a href='@Url.Action("pantallaLibro", new{L = ViewBag.carousel3.IdLibro})'><img class="portadaLibro" src=@ViewBag.carousel3.Tapa alt=""></a>
          <h3>@ViewBag.carousel3.Nombre</h3>
          <p>@ViewBag.carousel3.Sinopsis</p>
          <div class="barraSeparadoraAutor"></div>
          <div class="datosAutor">
          <div><img class="imgAutorTop" src=@ViewBag.carousel3.FotoEscritor alt=""></div>
          <h4>@ViewBag.carousel3.NombreEscritor</h4>
          <div class="infoAutorInicio">
            <p>@ViewBag.carousel3.BioEscritor</p>
        </div>
        </div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".swiper-hero", {
      direction: "horizontal",
      loop: true,
      autoplay: {
        delay: 10000,
        pauseOnMouseEnter: true,
        disableOnInteraction: false,
      },

      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

    });
  </script>

  <section class="product">
    <h2 class="product-category">@ViewBag.ListaGeneros[1].Genero1Nombre</h2>
    <button class="pre-btn">
      <div class="swiper-button-prev"></div>
    </button>
    <button class="nxt-btn">
      <div class="swiper-button-next"></div>
    </button>
    <div class="product-container">
      @for(int x = 0; x < ViewBag.ListaGeneros.Count; x++){
        <div class="product-card">
          <div class="product-image">
            <img src=@ViewBag.ListaGeneros[x].Tapa class="product-thumb" alt="">
            <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
            <div class="app">
                <div class="rating">
                    <div class="rating_average">
                        <h1>@ViewBag.ListaGeneros[x].promedioPuntuacion</h1>
                        <div class="star-outer">
                            <div class="star-inner"></div>
                        </div>
                    </div>
                    <div class="rating_progress">
                    </div>
                </div>
            </div>
            <h2 class="product-brand">@ViewBag.ListaGeneros[x].Nombre</h2>
        </div>
    </div>
    }     
 
  </section>

  <section class="product">
    <h2 class="product-category">Con mas Reseñas</h2>
    <button class="pre-btn">
      <div class="swiper-button-prev"></div>
    </button>
    <button class="nxt-btn">
      <div class="swiper-button-next"></div>
    </button>
    <div class="product-container">
      @for(int x = 0; x < ViewBag.ListaReseñas.Count; x++){
        <div class="product-card">
          <div class="product-image">
            <img src=@ViewBag.ListaReseñas[x].Tapa class="product-thumb" alt="">
            <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
            <div class="app">
                <div class="rating">
                    <div class="rating_average">
                        <h1>@ViewBag.ListaReseñas[x].promedioPuntuacion</h1>
                        <div class="star-outer">
                            <div class="star-inner"></div>
                        </div>
                    </div>
                    <div class="rating_progress">
                    </div>
                </div>
            </div>
            <h2 class="product-brand">@ViewBag.ListaReseñas[x].Nombre</h2>
        </div>
    </div>
    }     
 
  </section>
</body>
</html>
