<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>swiper demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
</head>
<body class="viewInicio">
  <div class="swiper swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="portadaLibro" src=@ViewBag.carousel1.Tapa alt="">
        <h3>@ViewBag.carousel1.Nombre</h3>
        <p>@ViewBag.carousel1.Sinopsis</p>
        <div class="barraSeparadoraAutor"></div>
        <div><img class="imgAutorTop" src=@ViewBag.carousel1.FotoEscritor alt=""></div>
        <h4>@ViewBag.carousel1.NombreEscritor</h4>
        <div class="infoAutorInicio">
          <p>@ViewBag.carousel1.BioEscritor</p>
        </div>
      </div>

      <div class="swiper-slide">
        <img class="portadaLibro" src=@ViewBag.carousel2.Tapa alt="">
        <h3>@ViewBag.carousel2.Nombre</h3>
        <p>@ViewBag.carousel2.Sinopsis</p>
        <div class="barraSeparadoraAutor"></div>
        <div><img class="imgAutorTop" src=@ViewBag.carousel2.FotoEscritor alt=""></div>
        <h4>@ViewBag.carousel2.NombreEscritor</h4>
        <div class="infoAutorInicio">
          <p>@ViewBag.carousel2.BioEscritor</p>
        </div>
      </div>

      <div class="swiper-slide">
          <img class="portadaLibro" src=@ViewBag.carousel3.Tapa alt="">
          <h3>@ViewBag.carousel3.Nombre</h3>
          <p>@ViewBag.carousel3.Sinopsis</p>
          <div class="barraSeparadoraAutor"></div>
          <div><img class="imgAutorTop" src=@ViewBag.carousel3.FotoEscritor alt=""></div>
          <h4>@ViewBag.carousel3.NombreEscritor</h4>
          <div class="infoAutorInicio">
            <p>@ViewBag.carousel3.BioEscritor</p>
          </div>
      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".swiper-hero", {
      direction: "horizontal",
      loop: true,
      autoplay: {
        delay: 10000,
        pauseOnMouseEnter: true,
        disableOnInteraction: false,
      },

      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },

      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

    });
  </script>

  <section class="product">
    <h2 class="product-category"></h2>
    <button class="pre-btn">
      <div class="swiper-button-prev"></div>
    </button>
    <button class="nxt-btn">
      <div class="swiper-button-next"></div>
    </button>
    <div class="product-container">
      <div class="product-card">
        <div class="product-image">
          <img src="/img/prisioneroAzkaban.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <div class="app">
            <div class="rating">
              <div class="rating_average">
                <h1>5.0</h1>
                <div class="star-outer">
                  <div class="star-inner"></div>
                </div>
              </div>
              <div class="rating_progress">
              </div>
            </div>
          </div>
          <h2 class="product-brand">Harry Potter y el prisionero de Azkaban</h2>
        </div>
      </div>

      
      <div class="product-card">
        <div class="product-image">
          <img src="images/card3.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card4.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card5.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card6.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="/img/card7.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card8.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card9.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="images/card10.jpg" class="product-thumb" alt="">
          <button class="card-btn">add to wishlist</button>
        </div>
        <div class="product-info">
          <h2 class="product-brand">brand</h2>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
