<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    function validarContrase単a(contra, contra2) {
    }
</script>
    <div class="cardPrueba">
        <form value Action='@Url.Action("CrearUsuario")' method="post" onsubmit="return validarContrase単a(event, document.getElementById('Contrasena').value, document.getElementById('Contrasena2').value);">
            <div class="cardText">
                <h3>Usuario:</h3>
                <input class="Input" type="text" name="Nombre" id="Nombre" required>
                <h3>Email:</h3>
                <input class="Input" type="text" name="Gmail" id="Gmail" required>
                <h3>Contrase単a:</h3>
                <input class="Input" type="password" name="Contrasena" 
                placeholder="Al menos 8 caracteres, un caracter especial y una mayuscula" id="Contrasena" id="floatingPassword" required>
                <h3>Vuelava a ingresa Contrase単a:</h3>
                <input class="Input" type="password" name="Contrasena" id="Contrasena2" required>
                <h3>Elija sus generos favoritos(Min 1, Max 5):</h3>
               <select type="button" data-bs-toogle="dropdown" name="Genero1" aria-expanded="false" required>
                <option>Seleccione Genero</option>
           @foreach(Generos g in ViewBag.Generos){
            <option value="@g.IdGenero">@g.Nombre</option>
           }
           </select>
               <select type="button" data-bs-toogle="dropdown" name="Genero2" aria-expanded="false">
                               <option>Seleccione Genero</option>
           @foreach(Generos g in ViewBag.Generos){
            <option value="@g.IdGenero">@g.Nombre</option>
           }
           </select>
               <select type="button" data-bs-toogle="dropdown" name="Genero3" aria-expanded="false">
                <option>Seleccione Genero</option>
           @foreach(Generos g in ViewBag.Generos){
            <option value="@g.IdGenero">@g.Nombre</option>
           }
           </select>
               <select type="button" data-bs-toogle="dropdown" name="Genero4" aria-expanded="false">
                               <option>Seleccione Genero</option>
           @foreach(Generos g in ViewBag.Generos){
            <option value="@g.IdGenero">@g.Nombre</option>
           }
           </select>
               <select type="button" data-bs-toogle="dropdown" name="Genero5" aria-expanded="false">
                               <option>Seleccione Genero</option>
           @foreach(Generos g in ViewBag.Generos){
            <option value="@g.IdGenero">@g.Nombre</option>
           }
           </select>
                <button type="submit" class="siguiente">Siguiente</button>

            </div>
        </form>
    </div>
    <p class="aviso" id="avisoErrorRegistrarse">@ViewBag.Error</p>
</body>
</html>